@import "tailwindcss";

@theme {
  --color-primary-100: rgba(240, 241, 255, 1);
  --color-primary-200: rgba(227, 229, 255, 1);
  --color-primary-300: rgba(183, 191, 255, 1);
  --color-primary-400: rgba(168, 178, 255, 1);
  --color-primary-500: rgba(151, 166, 255, 1);
  --color-primary-600: rgba(134, 154, 255, 1);
  --color-primary-700: rgba(114, 143, 255, 1);
  --color-primary-800: rgba(92, 131, 255, 1);
  --color-primary-900: rgba(64, 120, 255, 1);
  --color-black-100: rgba(230, 231, 232, 1);
  --color-black-200: rgba(182, 183, 188, 1);
  --color-black-300: rgba(135, 138, 146, 1);
  --color-black-400: rgba(113, 116, 126, 1);
  --color-black-500: rgba(92, 95, 106, 1);
  --color-black-600: rgba(71, 75, 87, 1);
  --color-black-700: rgba(51, 56, 69, 1);
  --color-black-800: rgba(32, 37, 51, 1);
  --color-black-900: rgba(14, 20, 34, 1);
  --color-white-100: rgba(246, 246, 246, 1);
  --color-white-200: rgba(233, 233, 235, 1);
  --color-white-900: rgba(255, 255, 255, 1);
  --color-blue-100: rgba(232, 239, 253, 1);
  --color-blue-200: rgba(209, 222, 251, 1);
  --color-blue-300: rgba(186, 206, 250, 1);
  --color-blue-400: rgba(163, 190, 248, 1);
  --color-blue-500: rgba(140, 173, 246, 1);
  --color-blue-600: rgba(117, 157, 244, 1);
  --color-blue-700: rgba(94, 140, 243, 1);
  --color-blue-800: rgba(71, 124, 241, 1);
  --color-blue-900: rgba(48, 108, 239, 1);
  --color-green-100: rgba(213, 229, 215, 1);
  --color-green-200: rgba(193, 216, 196, 1);
  --color-green-300: rgba(152, 190, 158, 1);
  --color-green-400: rgba(131, 177, 139, 1);
  --color-green-500: rgba(111, 164, 121, 1);
  --color-green-600: rgba(90, 152, 104, 1);
  --color-green-700: rgba(69, 139, 86, 1);
  --color-green-800: rgba(44, 127, 69, 1);
  --color-green-900: rgba(5, 114, 52, 1);
  --color-red-100: rgba(251, 217, 208, 1);
  --color-red-200: rgba(248, 197, 185, 1);
  --color-red-300: rgba(238, 159, 141, 1);
  --color-red-400: rgba(232, 140, 119, 1);
  --color-red-500: rgba(225, 120, 98, 1);
  --color-red-600: rgba(217, 100, 78, 1);
  --color-red-700: rgba(209, 79, 58, 1);
  --color-red-800: rgba(200, 55, 39, 1);
  --color-red-900: rgba(190, 19, 19, 1);
  --color-yellow-100: rgba(255, 241, 216, 1);
  --color-yellow-200: rgba(255, 234, 196, 1);
  --color-yellow-300: rgba(255, 220, 158, 1);
  --color-yellow-400: rgba(255, 213, 138, 1);
  --color-yellow-500: rgba(253, 207, 118, 1);
  --color-yellow-600: rgba(251, 200, 98, 1);
  --color-yellow-700: rgba(249, 193, 76, 1);
  --color-yellow-800: rgba(246, 187, 51, 1);
  --color-yellow-900: rgba(243, 180, 10, 1);

  /* --spacing-md: 10rem; */
  --spacing-md: 10%;
}

@layer components {
  h1 {
    @apply text-[40px] font-semibold leading-[150%];
  }
  h2 {
    @apply text-[32px] font-semibold;
  }
  h3 {
    @apply text-[24px] font-semibold;
  }
  p {
    @apply text-[14px] leading-[175%] text-black-500;
  }
  input {
    @apply border border-black-100 rounded-sm px-4 py-3 font-medium text-black-900;
  }

  .btn {
    @apply flex items-center justify-center bg-black-900 text-white-900 py-3 px-6 rounded-sm font-medium hover:bg-black-800 hover:cursor-pointer;
  }
}
